include mixins.pug
style
    include:scss resume.scss

header#heading
    .info
        h1 Vahid Almasi
        span Back-End/php Developer

        .links
            ul
                li
                    a(href='mailto:vahid.almasi.dev@gmail.com', target='_blank') #[+i('at')] vahid.almasi.dev@gmail.com
                li
                    a(href='tel:+989015644004', target='_blank') #[+i('phone')] +98 901 564 4004
                li
                    +i('map-marker')
                    |
                    | Rasht, Iran
            ul
                li
                    a(href='https://github.com/vahid-almasi', target='_blank') #[+i('github')] github.com/vahid-almasi
                li
                    a(href='https://www.linkedin.com/in/vahidalmasi', target='_blank') #[+i('linkedin')] linkedin.com/in/vahidalmasi


    .image
        img(src='./avatar.jpg', width=120, height=120)

main
    article#content
        +block('Summary')
            p An efficient reliable and competent PHP/Back-End developer with 5+ years of experience in web development with PHP programming and MVC frameworks such as Laravel and Lumen.
            
        +block('Experience', false)
            +job("PHP/Back-End Developer", "Freelancer", "", "03/2018 - Ongoing", "Rasht, Iran", false)
                p Designed and developed WordPress websites and RESTful API services with best practice techniques.

                h4 Missions:
                ul     
                    li Collaborated with co-workers to establish backend conventions, principles, and patterns.
                    li Collaborated with cross-functional teams
                    li Collaborated with frontend developers to see projects through, from conception to completion
                    li Designed and implemented data storage solutions
                    li Drove new and innovative solutions to meet business needs
                    li Implemented security and data protection
                    li Helped to develop and maintain applications
                    li comprehend new technological solutions and implement them to resolve specific client requests

                h4 Main projects:
                    li Use and mandate best practices in software development, including MVC pattern and RESTful Web Services
                    li Developed responsive content-based website with Wordpress that contain dynamic contents depending on users choice.
                    li Dockerize product for the run app on any infrastructure, quickly and reliably.

            +job("Software Developer", "Anetwork", "https://anetwork.ir", "01/2016 - 03/2018", "Tehran, Iran")
                p Anetwork is one of Iran’s most successful Digital Media Agencies. The company was acquired by Adro (Iran's first ad exchange) in 2018.

                h4 Missions:
                ul
                    li Built reusable code and libraries for future use
                    li Optimized the application for maximum speed and scalability
                    li Troubleshooted and solved complex problems
                    li Developed test drive/test first unit tests
                    li Worked closely with Designers, Customer Support and QA to develop suite of web tools for internal and external users
                    li Worked closely with product managers, editorial and business partners to understand software requirements

                h4 Main projects:
                ul
                    li Code Refactoring from MVC with native PHP to service-oriented architecture with Laravel and Lumen frameworks.
                    li Developed multiple microservices bases on Anetwork service-oriented architecture 
                    li Develop APIs and clear documentation for the Anetwork dashboard, third-party business, and mobile app.
                    li Develop scalable, secure, tested and reliable web application for a distributed SOA environment



            +job("Web Developer", "Pordo", "http://pordoweb.com", "11/2014 - 11/2015", "Tehran, Iran")
                p Pordo is a web design company


                h4 Main projects:
                ul
                    li Develop products for online businesses and groceries and content-based websites.
                    li Develop custom pordo CRM and CMS.
                h4 Some projects I contributed in:
                                    
                    li #[a(href="http://mayatowers.com/en") MAYA]: Construction Company, 
                    li #[a(href="http://narenjy.com") narenjy]: Sleeping accessories store, 
                    li #[a(href="http://apj.ir") Arya phosphoric]: One of the biggest acid phosphoric producer in iran Company, 
                    li #[a(href="http://mandegaranedalat.com") Mandegaranedalat]: Institute of Law and Arbitration, 
                    li #[a(href="http://autopishtaz.com") Autopishtaz]: Mitsubishi branch in iran.
                    li #[a(href="http://www.bargsys.com") Barg System]: Business analysis and re-engineering group.
                    li #[a(href="http://andisheparsian.com") Andishe Parsian]: Foreign Language Learning Institute.


    aside#sidebar
        +block('Tools/Skills', false)
            +rateItem('PHP', 'PHP 5.6/PHP 7', 9)
            +rateItem('Version controllers', 'Git SCM/TortoiseCVS/...', 9)
            +rateItem('Package manager', 'Composer/NPM', 9)
            +rateItem('Testing', 'Functional Test/Unit-Test/Integration-Test, TDD and BDD frameworks', 9)
            +rateItem('HTML5/CSS3/Javascript', '+ jQuery, HTML DOM, SASS/LASS, Gulp')
            +rateItem('Software architectural style', 'SOA/RESTful API', 10)
            +rateItem('Project Management Methodologies', 'Agile/Scrum', 10)
            +rateItem('OOP/SOLID/PSR', null, 10)
            +rateItem('OS', 'Linux/Windows', 10)


        +block('Conferences', false)
            +rateItem('Coder Conf 2', '07/2015', 10)
            +rateItem('Iran Web and Mobile Festival 10', '01/2016', 6)
            +rateItem('Integration Design', '09/2018', 6)

        +block('Languages', false)
            +rateItem('English: Advanced', null, 6)
            +rateItem('Persian: Native', null, 10)

